.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 0;
}

figure {
  max-width: 400px;
}

.not-found {
  h2 {
    color: var(--dark-gray);
    font-size: 20px;
    margin: 20px 0;
  }

  Button {
    margin-top: 15px;
  }
}

@media (max-width: 400px) {
    .not-found h2{
        font-size: 14px;
    }
}