.blogs-card {
    max-width: 250px;
    height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
    transition: scale 0.3s linear;
    -webkit-transition: scale 0.3s linear;
    -moz-transition: scale 0.3s linear;
    -ms-transition: scale 0.3s linear;
    -o-transition: scale 0.3s linear;
}

.blogs-card {
    & .card-style {
        background-color: var(--light-gray);
        background-size: cover;
        width: 100%;
        height: 150px;
    }

    & .card-content {
        width: 100%;
        padding: 2rem;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* & .category {
        display: inline-block;
        font-size: 0.8rem;
        color: var(--black-color);
        background-color: #cde3ff;
        padding: 0.3rem 1rem;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    } */

    & .blog-date {
        display: flex;
        justify-content: space-between;
    }

    & .blog-icon {
        margin-bottom: -0.2rem;
        font-size: 1.5rem;
        color: var(--primary-color);
    }

    & .date {
        margin-left: 1rem;
    }

    &:hover {
        scale: 1.05;
        cursor: pointer;
    }
}