.blogs-card {
    max-width: 270px;
    min-height: 300px;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 0px 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: scale 0.3s linear;
    -webkit-transition: scale 0.3s linear;
    -moz-transition: scale 0.3s linear;
    -ms-transition: scale 0.3s linear;
    -o-transition: scale 0.3s linear;
}

.blogs-card {
    & .card-style {
        width: auto;
        height: 150px;
        background-color: var(--light-gray);
        background-size: cover;
        margin: 0.5rem 0.5rem 0 0.5rem;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        -webkit-border-radius: 15px;
    }

    & .card-content {
        width: 100%;
        padding: 2rem;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    & .blog-card--title {
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        color: var(--black-color);
    }

    & .blog-date {
        display: flex;
        justify-content: space-between;
    }

    & .blog-icon {
        margin-bottom: -0.2rem;
        font-size: 1.2rem;
        color: var(--secondary-color);
    }

    & .date {
        margin-left: 1rem;
    }

    &:hover {
        scale: 1.05;
        cursor: pointer;
    }
}