/* src/styles/Button.css */
.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  text-align: center;
}

.button.small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.button.medium {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.button.large {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.button.primary {
  background-color: var(--button-color);
  border: solid 2px var(--button-color);
  color: var(--white-color);
}

.button.secondary {
  background-color: var(--light-gray);
  color: var(--text-color);
  border: 2px solid var(--light-gray);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.button.third {
  background-color: var(--background-color);
  border: solid 2px var(--background-color);
  color: var(--accent-color);
}

@media (hover: hover) and (pointer: fine) {
  .button.primary:hover {
    background-color: transparent;
    border: solid 2px var(--button-color);
    color: var(--black-color);
  }

  .button.secondary:hover {
    background-color: transparent;
  }

  .button.third:hover{
    background-color: transparent;
    border: solid 2px var(--background-color);
    color: var(--white-color);
  }
}