/* src/styles/Button.css */
.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.button.small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

.button.medium {
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
}

.button.large {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.button.primary {
  background-image: linear-gradient(to right, #7cabfc 0%, #ff7dda 51%, #7cabfc 100%);
  color: var(--white-color);
  transition: 0.5s;
  background-size: 200% auto;
}

.button.secondary {
  background-color: var(--light-gray);
  color: var(--text-color);
  border: 2px solid var(--light-gray);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.button.third {
  background-color: var(--black-color);
  border: solid 2px var(--black-color);
  color: var(--white-color);
}

@media (hover: hover) and (pointer: fine) {
  .button.primary:hover {
    background-position: right center;
    color: #fff;
  }

  .button.secondary:hover {
    background-color: transparent;
    border: solid 2px transparent;
  }

  .button.third:hover {
    background-color: transparent;
    color: var(--black-color);
  }
}