.card-body {
    padding: 2rem 2rem 2rem 3rem;
    max-width: 280px;
    aspect-ratio: 1;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    
    h3 {
        margin-top: 1rem;
    }
}

@media (max-width: 900px) {
    .card-body {
        padding: 2rem;
    }
}

/* @media (max-width: 800px) {
    .card-body {
        padding: 3rem;
    }
} */