.blog-cards.grid-four--cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 3rem;
}

@media (max-width: 992px) {
    .blog-cards.grid-four--cols {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 720px) {
    .blog-cards.grid-four--cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .blog-cards.grid-four--cols {
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem 0;
    }
}