/* src/styles/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --test-color: linear-gradient(to right,#d36a6a,#fb4845);
  --gradient-color: linear-gradient(to right, #7cabfc 0%, #ff7dda 100%);
  --primary-color: #ff7dda;
  --secondary-color: #7cabfc;
  --button-color: #ffb803;
  --blue-color: #2563eb;
  /* --background-color: #ffffff; */
  --white-color: #ffffff;
  --light-gray: #f3f4f6;
  --medium-gray: #e5e7eb;
  --hover-gray: #d0d5dd;
  --dark-gray: #6b7280;
  --text-color: #0a0a0a;
  --black-color: #252525;
  --dark-black--color: #000000;
}
.gradient-text {
  background-image: linear-gradient(to right, #7cabfc 0%, #ff7dda 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  /* -webkit-user-select: none;
  user-select: none; */
}

body {
  background-color: var(--white-color);
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
}

html {
  /* 16px = 100% */
  /* 1px = 6.25% */
  /* 14px = 87.5% */
  /* 1rem = 14px; */
  font-size: 87.5%;
  /* font-size: 100%; */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 40rem;
  padding: 3rem 3rem;
}

.block {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 62px);
}


.header {
  text-align: center;
  padding: 0 0 2rem 0;
  border-bottom: solid 2px var(--medium-gray);
}


section {
  margin: 5% 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  line-height: 1.2;
  color: var(--black-color);
}

/***** Typography *****/

.title {
  font-size: 3rem;
}

.sub-title {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.071rem;
}

h2 {
  font-size: 1.714rem;
}

h3 {
  font-size: 1.429rem;
}

h4 {
  font-size: 1.214rem;
}

p {
  font-size: 1rem;
  color: var(--dark-gray);
}

.simple-text {
  font-size: 0.857rem;
}

.note {
  font-size: 0.714rem;
}

/***** End Typography *****/

/***** More item button *****/

.more-items {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 3rem; */
}

/***** End More item button *****/