/* src/styles/About.css */

.about-content.grid-two--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.about-text p {
    margin-bottom: 2rem;
}

.comp-name {
    color: var(--black-color);
    font-weight: 600;
}

.details.grid-two--cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    & .about-icon {
        margin-bottom: -0.2rem;
        margin-right: 0.5rem;
    }
}

.about-skills.grid-three--cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}

@media (max-width: 992px) {
    .about-content.grid-two--cols {
        grid-template-columns: repeat(1, 1fr);
    }

        .details.grid-two--cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-image {
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .about-skills.grid-three--cols {
        grid-template-columns: repeat(2, 1fr);
    }

    .details.grid-two--cols {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 400px) {
    .about-skills.grid-three--cols{
        gap: 0rem;
    }
}