/* src/styles/About.css */

.about-content.grid-two--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.about-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 0;

    .about-heading {
        font-size: 1.214rem;
        font-weight: 600;
        color: var(--black-color);
    }
}

.comp-name {
    color: var(--black-color);
    font-weight: 600;
}

.download-cv {
    margin-top: 1.5rem;
}

.btn-icon {
    font-size: 1.1rem;
    margin: 0 0.5rem -0.2rem 0;
}

.about-skills.grid-three--cols {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}

@media (max-width: 1100px) {
    .about-content.grid-two--cols {
        gap: 2rem;
    }
}

@media (max-width: 992px) {
    .about-content.grid-two--cols {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .about-image {
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px) {
    .about-skills.grid-three--cols {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 400px) {
    .about-skills.grid-three--cols {
        gap: 0rem;
    }
}