/* src/styles/CallToAction.css */

.cta-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta-block{
  width: 100%;
  max-width: 1200px;
  padding: 0 3rem;
}
.cta-container{
  position: relative;
  background-image: var(--gradient-color);
  padding: 4rem 3rem;
  place-items: center;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cta-title {
  color: var(--white-color);
}

.cta-description {
  color: var(--white-color);
}

.cta-content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
}

.cta-buttons {
  display: flex;
  padding: 2rem 0 0 0;
  gap: 2rem;
  z-index: 10;
  
  .button.primary {
    background-image: none;
    border: 2px solid var(--white-color);
    background-color: transparent;
    color: var(--white-color);
  }
}

@media (hover: hover) and (pointer: fine) {
  .cta-buttons {
    .button.primary:hover {
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .cta-section {
    padding: auto 0;
  }

  .cta-buttons {
    gap: 1.2rem;
  }
}
@media (max-width: 590px) { 
  .cta-des{
    display: none;
  }
}