/* src/styles/Hero.css */
.hero {
    display: flex;
    align-items: center;
    /* min-height: 40rem; */
    min-height: calc(90vh - 75px);
}

.hero.grid-two--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.hero-content h1 {
    /* text-transform: uppercase; */
    color: var(--text-color);
    margin-bottom: 1rem;
}

.hero-content h2 {
    color: var(--dark-gray);
    margin-bottom: 1rem;
    font-weight: 400;
}

.hero-content h4 {
    color: var(--dark-gray);
    margin-bottom: 1rem;
    font-weight: 400;
}

.text-scroller {
    color: var(--primary-color);
}

.hero-content p {
    margin-bottom: 2rem;
}

.hero-content .highlight {
    color: var(--primary-color);
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-buttons .arrow-icon {
    margin-bottom: -0.65rem;
    margin-left: -1rem;
    padding: 0.4rem;
    font-size: 2rem;
    background-color: var(--background-color);
    border: solid 1px var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img {
    max-width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

@media (max-width: 992px) {
    .hero {
        text-align: center;
        gap: 3rem;
        min-height: auto;
    }

    .hero.grid-two--cols {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .hero-content {
        order: 2;
        max-width: 500px;
    }

    .hero-image {
        order: 1;
    }

    .hero-buttons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero-content .title {
        font-size: 2.5rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }

    .hero-image img {
        max-width: 300px;
    }
}