/* src/styles/Hero.css */
.hero {
    display: flex;
    align-items: center;
    /* min-height: 40rem;  */
    min-height: calc(90vh - 75px);
}

.hero.grid-two--cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.hero-content h1 {
    /* text-transform: uppercase; */
    color: var(--text-color);
    margin-bottom: 1rem;
}

.hero-content h2 {
    color: var(--dark-gray);
    margin-bottom: 1rem;
    font-weight: 400;
}

.hero-content h4 {
    color: var(--dark-gray);
    margin-bottom: 1rem;
    font-weight: 400;
}

.hero-content p {
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-buttons .arrow-icon {
    margin-bottom: -0.65rem;
    margin-left: -1rem;
    padding: 0.3rem;
    font-size: 2rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    border: solid 1px var(--primary-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.hero-buttons:hover {
    cursor: pointer;
}




.hero-image {
    flex: 1;
    width: auto;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* clip-path: inset(10% 20% 30% 40%); */
}

.hero-image img {
    width: 400px;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    clip-path: shape(from 12.95% 36.21%, curve to 24.08% 15.53% with 15.14% 24.67%, curve to 46.30% 4.55% with 33.02% 6.39%, curve to 68.93% 11.81% with 59.58% 2.71%, curve to 85.40% 30.51% with 78.28% 20.91%, curve to 93.21% 52.89% with 92.52% 40.11%, curve to 87.05% 77.41% with 93.90% 65.66%, curve to 66.83% 89.73% with 80.20% 89.16%, curve to 40.15% 92.10% with 53.46% 90.29%, curve to 18.74% 83.07% with 26.83% 93.91%, curve to 10.70% 59.99% with 10.64% 72.23%, curve to 12.95% 36.21% with 10.76% 47.76%);
    /* clip-path: shape(from 79.58% 81.41%,curve to 50.45% 91.62% with 65.53% 89.23%,curve to 22.23% 84.59% with 35.36% 94.01%,curve to 10.09% 59.71% with 9.10% 75.16%,curve to 16.32% 31.11% with 11.08% 44.25%,curve to 35.14% 10.91% with 21.57% 17.98%,curve to 64.69% 7.57% with 48.71% 3.85%,curve to 84.53% 26.71% with 80.67% 11.30%,curve to 91.01% 57.85% with 88.39% 42.12%,curve to 79.58% 81.41% with 93.63% 73.59%); */
    background-image: linear-gradient(to right, #98bdfe 0%, #ffa3e5 100%);
}


@media (max-width: 992px) {
    .hero {
        text-align: center;
        gap: 3rem;
        min-height: auto;
    }

    .hero.grid-two--cols {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .hero-content {
        order: 2;
        max-width: 500px;
    }

    .hero-image {
        order: 1;
    }

    .hero-buttons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero-content .title {
        font-size: 2.5rem;
    }

    .hero-content h2 {
        font-size: 1.5rem;
    }

    .hero-image img {
        max-width: 300px;
    }
}