/* src/styles/Services.css */

.service-cards.grid-three--cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 3rem;
}


@media (max-width: 992px) {
    .service-cards.grid-three--cols{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 596px) {    
    .service-cards.grid-three--cols {
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem 0;
    }
}